bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea
[Bb]in/
[Oo]bj/
[Ll]og/
TestResult*/
*.userprefs
*.nupkg
*.snupkg
.nuget/
packages/
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
.vscode/
*.swp
*.tmp
*.DS_Store
Thumbs.db
.store/
.dotnet-tools/
appsettings.*.json